@import '../../assets/scss/colors';

.mat-toolbar {
  background: $black-0;
}

a {
  font-family: 'Comfortaa', sans-serif;
  color: $white-1;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 700;
  opacity: 0.9;
  &:focus, &:hover {
    color: $white-1;
    opacity: 1;
  }
  &.user {
    padding-right: 0;
  }
}

.brand-logo {
  margin-top: 8px;
}
