<mat-toolbar>
  <a routerLink="/home" class="brand-logo"><img src="../../assets/images/logo.svg" height="40"></a>
  <a mat-button><span class="fa fa-square text-blue"></span><span>&nbsp;&nbsp;Around you</span></a>
  <a mat-button><span class="fa fa-square text-magenta"></span><span>&nbsp;&nbsp;Your grounds</span></a>
  <a mat-button><span class="fa fa-square text-yellow"></span><span>&nbsp;&nbsp;About us</span></a>
  <a mat-button><span class="fa fa-square text-purple"></span><span>&nbsp;&nbsp;Resources</span></a>
  <span class="flex-spacer"></span>
  <a class="user" mat-button><span class="fa fa-user-circle"></span>&nbsp;&nbsp;Profile</a>
</mat-toolbar>
