<div class="container footer"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutWrap
     fxLayoutGap="10px">
  <span>© Copyright 2018 PlayThisGround</span>
</div>
