$blue-0: #0A8197;
$blue-1: #74B2BE;
$blue-2: #4B97A5;
$blue-3: #017990;
$blue-4: #016B7F;

$magenta-0: #B00890;
$magenta-1: #CF7DBF;
$magenta-2: #BD53A9;
$magenta-3: #A70087;
$magenta-4: #940078;

$yellow-0: #F6CA0B;
$yellow-1: #FFEC9A;
$yellow-2: #FFE470;
$yellow-3: #E9BE00;
$yellow-4: #CEA800;

$purple-0: #371BAA;
$purple-1: #9284CB;
$purple-2: #6E5DB7;
$purple-3: #2405A1;
$purple-4: #1F048E;

$black-0: #111111;
$black-1: #333333;
$black-2: #555555;
$black-3: #dddddd;
$black-4: #eeeeee;

$white-1: #ffffff;
$white-2: #dddddd;

.text-blue {
  color: $blue-0;
}
.text-magenta {
  color: $magenta-0;
}
.text-yellow {
  color: $yellow-0;
}
.text-purple {
  color: $purple-0;
}
.text-white {
  color: $white-1;
}

.bg-blue {
  background: $blue-3;
}
.bg-magenta {
  background: $magenta-3;
}
.bg-yellow {
  background: $yellow-3;
}
.bg-purple {
  background: $purple-3;
}
