@import '../../assets/scss/colors';

.playground-title {
  background: $black-4;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}

mat-list {
  padding: 0;
}

mat-list-item {
  height: inherit !important;
  margin-bottom: 8px;
  color: $black-0 !important;
}

.mat-card {
  background: $white-1 !important;
  padding: 0 !important;
  box-shadow: none !important;
  color: $black-0 !important;
  border: 1px solid $black-3;
  border-radius: 0.1rem;
  margin-bottom: 20px;
}

mat-card-title {
  margin: 0 !important;
}

.card-header {
  padding: 12px;
}

.card-header-h {
  margin: 0 !important;
  padding: 0 !important;
}

mat-card-content {
  padding: 20px !important;
  font-size: 16px;
  line-height: 24px;
}

.btn-magenta {
  width: 100%;
  font-family: 'Comfortaa', sans-serif !important;
  font-size: 1rem;
  background: $magenta-0;
  color: $white-1;
  padding: 0.2rem;
  margin-bottom: 10px;
}

.reviews {
  margin-top: 48px;
}

img {
  max-width: 100%;
}
