<div class="container"
     fxLayout="column">

  <div fxFlex>
      <h3 class="playground-title text-magenta">{{playground.name}}</h3>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="32px">

      <div fxFlex="40">
        <!-- TODO Carousel -->
        <div>
          <img src="../../assets/images/carousel/04.png">
        </div>
      </div>

      <div fxFlex="60">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="32px">

          <div fxFlex="65">
            <h4 class="text-blue">General Info</h4>
            <mat-list>
              <mat-list-item class="info-item">
                <span class="text-blue">Size:</span>&nbsp;{{playground.size}}
              </mat-list-item>
              <mat-list-item class="info-item">
                <span class="text-blue">Recommended age(s):</span>&nbsp;{{playground.ages}}
              </mat-list-item>
              <mat-list-item class="info-item">
                <span class="text-blue">Equipment:</span>&nbsp;{{playground.equipment}}
              </mat-list-item>
              <mat-list-item class="info-item">
                <span class="text-blue">Type of floor:</span>&nbsp;{{playground.floorType}}
              </mat-list-item>
              <mat-list-item class="info-item">
                <span class="text-blue">Environment:</span>&nbsp;{{playground.environment}}
              </mat-list-item>
              <mat-list-item class="info-item">
                <span class="text-blue">Accessibility:</span>&nbsp;{{playground.accessibility}}
              </mat-list-item>
            </mat-list>
            <p><span class="text-blue">Last updated:</span>&nbsp;{{playground.lastUpdated | date}}</p>
          </div>

          <div fxFlex="35">
            <mat-card class="ratings">
              <mat-card-header class="card-header bg-yellow text-white">
                <mat-card-title>
                  <h5 class="card-header-h">Ratings</h5>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div>Overall: <span [innerHTML]="renderOverallRating(playground.overallRating)"></span></div>
                <div>Yours: <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
              </mat-card-content>
            </mat-card>
            <button mat-button class="btn-magenta">Report Issue</button>
            <button mat-button class="btn-magenta">Edit Info</button>
            <button mat-button class="btn-magenta">Board</button>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div fxFlex class="reviews">
    <h4 class="text-blue">Reviews</h4>
    <mat-card class="comment" *ngFor="let comment of playground.comments">
      <mat-card-content>
        <p><em>{{comment.comment}}</em></p>
        <p>{{comment.author}}, {{comment.date | date}}</p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
