@import '~@angular/material/prebuilt-themes/purple-green.css';
@import './assets/scss/colors';

body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
}

.flex-spacer {
  flex: 1 1 auto;
}

.container {
  margin: 20px;
  display:flex;
}

a {
  color: $blue-0;
  text-decoration: none;
  &:focus, &:hover {
    color: $blue-4;
  }
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 20px !important;
}

.mat-list-item {
  font-family: 'Comfortaa', sans-serif;
}

.mat-list-item-content {
  padding: 0 !important;
}

.mat-form-field {
  margin-top: 2px !important;
}

.mat-form-field-label {
  color: $magenta-0 !important;
  font-family: 'Comfortaa', sans-serif !important;
}

input {
  font-family: 'Comfortaa', sans-serif !important;
}

.mat-input-placeholder {
  color: $black-2 !important;
}

.mat-form-field-ripple {
  background: $magenta-0 !important;
}
.mat-form-field-underline {
  background: $black-3 !important;
}

.mat-card {
  font-family: 'Comfortaa', sans-serif !important;
}

.fa-star {
  color: $yellow-3;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 8px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}
