@import '../../assets/scss/colors';

agm-map {
  height: calc(100vh - 283px);
  @media (max-width: 959px) {
    height: 300px;
  }
}

mat-toolbar {
  background: $white-1;
  color: $black-0 !important;
  padding: 0 !important;
}

mat-list {
  padding-top: 40px;
  margin-bottom: 50px;
}

mat-list-item {
  height: inherit !important;
  margin-bottom: 8px;
  color: $black-0;
}

.numbers {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  margin: 0 4px;
  text-align: center;
  border-radius: 0.2em;
  > span {
    font-size: 1em;
    line-height: 1.5em;
  }
}

.search-submit {
  background: $magenta-0;
  color: $white-1;
}

.mat-form-field-label {
  color: $black-0 !important;
}
