<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around top"
     fxLayoutGap="32px">

  <div fxFlex="100%" fxFlex.gt-sm="60%" fxFlexOrder="2" fxFlexOrder.gt-sm="1">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false">
    </agm-map>
  </div>

  <div fxFlex="100%" fxFlex.gt-sm="40%" fxFlexOrder="1" fxFlexOrder.gt-sm="2">
    <div>
      <h3 class="text-magenta">Find your Ground</h3>
      <mat-toolbar fxLayoutGap="8px">
        <mat-input-container fxFlex currentColor="#f00">
          <input matInput placeholder="ZIP, City, Country..." type="text">
        </mat-input-container>
        <button type="submit" class="search-submit" mat-button><span class="fa fa-search"></span></button>
      </mat-toolbar>
    </div>
    <div>
      <mat-list *ngIf="playgrounds">
        <h3 class="text-blue">Top 5 close to you</h3>
        <mat-list-item class="item" *ngFor="let playground of playgrounds">
          <a mat-line class="itemlink" [routerLink]="['/playground', playground.id]">
            <span class="numbers bg-blue text-white"><span>{{playgrounds.indexOf(playground) + 1}}</span></span> <span>{{playground.name}} ({{playground.distance}})</span>
            <span [innerHTML]="renderOverallRating(playground)"></span>
          </a>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</div>
